@page
@model SacramentMeetingPlanner.Pages.Speakers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-MeetingId="@Model.MeetingId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker[0].SacramentMeetingId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Speaker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentMeetingId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpeakerId" asp-route-MeetingId="@Model.MeetingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpeakerId" asp-route-MeetingId="@Model.MeetingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpeakerId" asp-route-MeetingId="@Model.MeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
