@page
@model SacramentMeetingPlanner.Pages.SacramentMeetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div style="text-align:center;">
    <h1>Lake Fork Ward</h1>
    <h5>@Model.SacramentMeeting.Date.ToString("MMMM dd, yyyy")</h5>

    <div>
        <hr />
            <table class="table">
                <tbody style="font-size:large;">
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.Presiding)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.Presiding)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.Conducting)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.Conducting)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.OpeningHymn)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.OpeningHymn.HymnNumber) - @Html.DisplayFor(model => model.SacramentMeeting.OpeningHymn.HymnTitle)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.Invocation)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.Invocation)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.SacramentalHymn)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.SacramentalHymn.HymnNumber) - @Html.DisplayFor(model => model.SacramentMeeting.SacramentalHymn.HymnTitle)
                        </td>
                    </tr>
        
                    @{int count = 0;}
                    @foreach (var speaker in Model.Speakers)
                    {
                        int speaker_num =  Model.Speakers.Count();
                        if(speaker_num / 2 == count)
                        {

                            <tr>
                                <td class="col-sm-6 p-1" style="text-align: left">
                                    @Html.DisplayNameFor(model => model.SacramentMeeting.IntermediateHymn)
                                </td>
                                <td class="col-sm-6 p-1" style="text-align: right">
                                    @Html.DisplayFor(model => model.SacramentMeeting.IntermediateHymn.HymnNumber) - @Html.DisplayFor(model => model.SacramentMeeting.IntermediateHymn.HymnTitle)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="col-sm-6 p-1" style="text-align: left">
                                Speaker
                            </td>
                            <td class="col-sm-6 p-1" style="text-align: right">
                                @speaker.SpeakerName
                            </td>
                        </tr>
                            count++;
                    }
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.ClosingHymn)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.ClosingHymn.HymnNumber) - @Html.DisplayFor(model => model.SacramentMeeting.ClosingHymn.HymnTitle)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-6 p-1" style="text-align: left">
                            @Html.DisplayNameFor(model => model.SacramentMeeting.Benediction)
                        </td>
                        <td class="col-sm-6 p-1" style="text-align: right">
                            @Html.DisplayFor(model => model.SacramentMeeting.Benediction)
                        </td>
                    </tr>
                </tbody>
            </table>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.SacramentMeeting?.SacramentMeetingId">Edit</a> |
            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>

